@import "tailwindcss";

@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@theme {

  --font-manrope: "Manrope", "sans-serif";

  --color-primary: #6DAE81;      
  --color-primary_lighter: #A7DCA5; 
  --color-light: #FDFDFD;    
  --color-accent: #FFE6C7;          
  --color-danger: #EF476F;             
  --color-dark: #444444;
}

@layer base {
  html {
    @apply text-base leading-relaxed;
  }
  body {
    @apply bg-light font-manrope text-dark;
  }
  h1 {
    @apply font-bold text-5xl leading-tight text-dark;
  }
  h2 {
    @apply font-semibold text-3xl font-manrope leading-snug text-dark;
  }
  h3 {
    @apply font-semibold text-2xl font-manrope leading-snug text-dark;
  }
  p {
    @apply font-normal text-base font-manrope leading-relaxed text-dark;
  }
  a {
    @apply font-normal font-manrope text-primary hover:text-[#5b986f] transition;
  }
}

@layer components {
  /* Custom Link Styles */
  .link-nav {
    @apply block lg:inline-block font-semibold text-primary hover:text-[#5b986f]
  }
  /* Custom button sytles*/
  .btn-hero{
    @apply bg-primary text-light px-6 py-3 font-semibold text-3xl rounded-lg hover:bg-[#5b986f] transition;
  }

  .btn-primary {
    @apply bg-[#6DAE81] text-white px-6 py-2 rounded-lg hover:bg-[#5b986f] transition;
  }

  .btn-secondary {
    @apply bg-[#6DAE81] text-white px-4 py-2 rounded-lg text-sm hover:bg-[#5b986f] transition;
  }

  .btn-tertiary {
    @apply bg-[#6DAE81] text-white px-4 py-2 rounded-lg text-sm hover:bg-[#5b986f] transition;
  }
  
  .btn-nav {
    @apply bg-primary text-white px-3 py-1 rounded-lg font-semibold hover:shadow-md transition;
  }

  .btn-edit {
    @apply border-2 border-[#6DAE81] px-4 py-1 rounded-lg hover:bg-[#6DAE81] hover:text-white;
  }

  .btn-delete {
    @apply border-2 border-[#EF476F] px-4 py-1 rounded-lg hover:bg-[#EF476F] hover:text-white;
  }

}


